<div class="page-header">
    <h1 class="page-title">
        Dashboard
    </h1>
</div>

<div class="row row-cards">

    <!-- Accounts -->
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="text-right text-red">
                    &nbsp;
                </div>
                <div class="h1 m-0 accounts">0</div>
                <div class="text-muted mb-4">Accounts</div>
            </div>
        </div>
    </div>

    <!-- Characters -->
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="text-right text-red">
                    &nbsp;
                </div>
                <div class="h1 m-0 characters">0</div>
                <div class="text-muted mb-4">Characters</div>
            </div>
        </div>
    </div>

    <!-- Guilds -->
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="text-right text-red">
                    &nbsp;
                </div>
                <div class="h1 m-0 guilds">0</div>
                <div class="text-muted mb-4">Guilds</div>
            </div>
        </div>
    </div>

    <!-- Zones -->
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="text-right text-red">
                    &nbsp;
                </div>
                <div class="h1 m-0 zones">0</div>
                <div class="text-muted mb-4">Zones</div>
            </div>
        </div>
    </div>

    <!-- Items -->
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="text-right text-red">
                    &nbsp;
                </div>
                <div class="h1 m-0 items">0</div>
                <div class="text-muted mb-4">Items</div>
            </div>
        </div>
    </div>

    <!-- Server Uptime -->
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-3 text-center">
                <div class="text-right text-red">
                    &nbsp;
                </div>
                <div class="h1 m-0">&nbsp;<span class="server-uptime" style="font-size: 1rem;">0</span></div>
                <div class="text-muted mb-4">Server Uptime</div>
            </div>
        </div>
    </div>

    <!-- Player Downloadable Client Assets -->
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">
                    Player Downloadable Client Assets
                </h2>

            </div>
            <table class="table card-table">
                <tbody>
                <tr>
                    <td class="text-right">
                        <a href="/download/spells" class="btn btn-secondary btn-block"><i class="fe fe-download mr-2"></i>spells_us.txt</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        <a href="/download/dbstr" class="btn btn-secondary btn-block"><i class="fe fe-download mr-2"></i>dbstr_us.txt</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        <a href="/download/skills" class="btn btn-secondary btn-block"><i class="fe fe-download mr-2"></i>SkillCaps.txt</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        <a href="/download/basedata" class="btn btn-secondary btn-block"><i class="fe fe-download mr-2"></i>BaseData.txt</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
