<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>

    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico"/>

    <title>EQEmu Server Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <!-- Stylesheets -->
    <link href="./assets/css/dashboard.css" rel="stylesheet"/>
    <link href="./assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>

</head>
<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">

                    <form class="card login-form" action="" method="post">
                        <div class="card-body p-6">
                            <div class="card-title">Login</div>

                            <!-- Username -->
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" aria-describedby="username" placeholder="Enter username">
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label class="form-label">
                                    Password
                                </label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block" id="#login">Sign in</button>
                            </div>

                            <div class="alert alert-danger" role="alert" id="error-message" style="display:none; margin-top:20px"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Javascript assets -->
<script src="./assets/js/require.min.js"></script>
<script src="./assets/js/dashboard.js"></script>
<script type="text/javascript">
  require(['jquery'], function ($) {

    $(document).ready(function () {

      /**
       * Login submit
       */
      $(".login-form").submit(function (e) {
        var data = $('.login-form').serialize();

        $.post('/login', data, function (data) {
          if (data.success) {
            window.location = "/";
          }
        }).fail(function (data) {
          $("#error-message").html(data.responseJSON.error).show();
        });

        return false;
      });
    });
  });
</script>

</html>