<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">

            <!-- Search Block
            <div class="col-lg-3 ml-auto">
              <form class="input-icon my-3 my-lg-0">
                <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                <div class="input-icon-addon">
                  <i class="fe fe-search"></i>
                </div>
              </form>
            </div>
            -->

            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                    <li class="nav-item">
                        <a href="/" class="nav-link"><i class="fe fe-home"></i> Dashboard</a>
                    </li>

                    <!-- Zoneserver -->
                    <li class="nav-item">
                        <a href="/zoneservers" class="nav-link" children-links="zoneserver">
                            <i class="fe fe-box"></i> Zone Servers
                        </a>
                    </li>

                    <!-- Power -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                            <i class="fe fe-power"></i> Power
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="javascript:;" onclick="ServerManager.stop()" class="dropdown-item"><i class="fe fe-power"></i> Power Off</a>
                            <a href="javascript:;" onclick="ServerManager.start()" class="dropdown-item"><i class="fe fe-power"></i> Power On</a>
                            <a href="javascript:;" onclick="ServerManager.restart()" class="dropdown-item"><i class="fe fe-power"></i> Restart</a>
                        </div>
                    </li>

                    <!--
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-box"></i> Download</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="./download" class="dropdown-item ">Cards design</a>
                            <a href="./charts.html" class="dropdown-item ">Charts</a>
                            <a href="./pricing-cards.html" class="dropdown-item ">Pricing cards</a>
                        </div>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</div>